ktor {
    deployment {
        port = 8080
        port = ${?PORT}
    }
    application {
        modules = [ org.openmbee.mms5.ApplicationKt.module ]
    }
}
jwt {
    domain = "https://mms5.openmbee.org/"
    domain = ${?JWT_DOMAIN}
    audience = "jwt-audience"
    audience = ${?JWT_AUDIENCE}
    realm = "MMS5 Microservices"
    realm = ${?JWT_REALM}
    secret = "secret123"
    secret = ${?JWT_SECRET}
}
s3 {
    region = "us-gov-west-1"
    region = ${?S3_REGION}
    bucket = "load"
    bucket = ${?S3_BUCKET}
    endpoint = ""
    endpoint = ${?S3_ENDPOINT}
    access_key = ""
    access_key = ${?AWS_ACCESS_KEY_ID}
    secret_key = ""
    secret_key = ${?AWS_SECRET_ACCESS_KEY}
}